@media only screen and (max-width: 500px) {
    .img-positon{
       display: none;
    }
   
    /* nav end  */


    .bgr-img{
      width: 100%;
  
  }
  .bgr-txt{
      width: 100%;
  }
  }

  /* project done  */