/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.nav-max-w{
    max-width: 1450px;
    margin: 0 auto;
}
.img-positon{
    position: relative;
    /* right: 6%; */
}
.absout{
    position: absolute;
}
/* nav end  */

/* hero start  */
/* .hero-max-w{
    max-width: 1450px;
    margin: 0 auto;
} */
/* hero end  */


/* card start one  */
.card-max-w{
    max-width: 1450px;
    margin: 0 auto;
}
.bg-another{
    background-image: url('./img/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-another-2{
    background-image: url('./img/Rectangle\ 12.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-another-3{
    background-image: url('./img/Rectangle\ 13.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-another-4{
    background-image: url('./img/Rectangle\ 14\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* card end one  */



/* burger sectionb  */
.bgr-img{
    width: 50%;
/* border: 3px solid red; */
}
 
.bgr-txt{
    width: 50%;
    /* border: 4px solid green; */
}

/* project done  */